* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    background-color: #1f1f1f;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

    .logo img {
        display: block;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 100px;
    }

.clearfix {
    overflow: auto;
    padding: 5px;
}

footer {
    color: #fff;
    background-color: #1f1f1f;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

article {
    margin-top: 100px;
    margin-bottom: 100px;
}

.thumb {
    /*float: left;*/
    max-width: 200px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    /*grid-auto-rows: auto;*/
}

.grid-item {
    padding: 20px;
    font-size: 15px;
    text-align: center;
}




/* 
body{

    background: #222
}

h1{

    text-align: center;
    font-size: 60px;
    color: #f0141e;
}

p{

    padding: 20px;
}

a{

    color: #f0141e;
}
  
#results{

    margin: 50px auto;
    max-width: 960px;
    background: #eee;
}

ul{

    margin: 0 auto;
    padding: 0;
    display: block;
}
  
li{

    display: inline-block;
    padding: 20px;
    max-width: 200px;
    vertical-align: top;
} */

